<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Télégarger les vidéos de vos réunions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
<!--      <ion-button slot="end">Retour</ion-button>-->
      <ion-title size="large">Télégarger les vidéos de vos reunions</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
  <br>
  <br>

  <div  style="margin: 0 auto; display: flex">
    <ion-datetime prefer-wheel="true"
                  presentation="month-year"
                  style="margin: 0 auto;"
                  #datetime
                  [showDefaultTitle]="true"
                  firstDayOfWeek="1"
                  [max]="maxDate"
    >
      <span slot="title">Sélectionner la date de début</span>
      <ion-buttons slot="buttons">
        <ion-button color="danger" (click)="reset()">Reset</ion-button>
        <ion-button color="primary" (click)="cancel()">Cancel</ion-button>
        <ion-button color="primary" (click)="confirm()">Valider</ion-button>
      </ion-buttons>
    </ion-datetime>

  </div>

  <br>
  <br>
  <br>
  <ion-card *ngIf="meetings?.length" style="margin: 5px">
    <ion-card-header>
      <ion-card-title>Listes des enregistrements</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="row-border" *ngFor="let meeting of meetings">
          <ion-col size="12" size-md="3">
<!--            <ion-thumbnail slot="start">-->
              <ion-img style="width: 10%;" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" alt="Silhouette of mountains"/>
<!--            </ion-thumbnail>-->
          </ion-col>
          <ion-col size="12" size-md="3">
            <ion-label>{{meeting.subject}}</ion-label>
          </ion-col>
          <ion-col size="12" size-md="3">
            <ion-label>{{meeting.startTime | date: 'fullDate' : '' : 'fr-FR' }}</ion-label>
          </ion-col>
          <ion-col size="12" size-md="3">
            <ion-button *ngIf="meeting?.recording?.downloadUrl" (click)="record(meeting.recording.downloadUrl)">Télécharger</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
<!--<ion-button (click)="getmeetingById()">getmmeting</ion-button>-->
<!--<ion-button (click)="getMe()">getMe</ion-button>-->
<!--<ion-button (click)="getUserInfo()">getUserInfo</ion-button>-->
