<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button routerLink="inscription">Inscription</ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <!-- Affiche le bouton Meeting si l'utilisateur est connecté et n'est pas sur la page Meeting -->
    <ion-button *ngIf="(isLoggedIn$ | async) && !isMeetingPage" routerLink="/meeting">Meeting</ion-button>

  </ion-buttons>
  <ion-buttons slot="end">
    <!-- Affiche le bouton Connexion si l'utilisateur n'est pas connecté -->
    <ion-button routerLink="connexion" *ngIf="!(isLoggedIn$ | async)">Connexion</ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <!-- Affiche le bouton Déconnexion si l'utilisateur est connecté -->
    <ion-button *ngIf="isLoggedIn$ | async" (click)="logout()">Déconnexion</ion-button>
  </ion-buttons>
</ion-toolbar>

  <router-outlet></router-outlet>
