<ion-app>
  <ion-split-pane contentId="main-content" when="lg">
    <ion-menu contentId="main-content" side="start">
      <ion-content class="ion-padding">
        <ion-list id="inbox-list">
          <ion-menu-toggle *ngIf="isLoggedIn$ | async" auto-hide="false">
            <ion-item (click)="logout()" detail="true" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
              <ion-label>Deconnexion</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="(isLoggedIn$ | async) && !isMeetingPage" auto-hide="false">
            <ion-item  [routerLink]="'meeting'" detail="true" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="'log-in-outline'" [md]="'log-in-sharp'"></ion-icon>
              <ion-label>Reunions</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="(isAdmin$ | async) && !isInscriptionPage" auto-hide="false">
            <ion-item  [routerLink]="'inscription'" detail="true" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="'add-circle-outline'" [md]="'add-circle-sharp'"></ion-icon>
              <ion-label>Ajouter un utilisateur</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="(isLoggedIn$ | async) && !isLoginPage" auto-hide="false">
            <ion-item [routerLink]="'connexion'" detail="true" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="'videocam-outline'" [md]="'videocam-sharp'"></ion-icon>
              <ion-label>Connexion</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item detail="true" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="'code-slash-outline'" [md]="'code-slash-sharp'"></ion-icon>
              <ion-label>Version 1.0.0</ion-label>
            </ion-item>
          </ion-menu-toggle>


        </ion-list>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-router-outlet id="main-content"></ion-router-outlet>
      </ion-content>
    </div>
  </ion-split-pane>
</ion-app>


